<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%- title %></title>
  <link rel="icon" type="image/png" href="./assets/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/d1bdac5eaf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css" />
</head>

<body>
  <%- include('./components/topNavbar.ejs') %>
  <%- include('./components/mainNav.ejs') %>
  <%- contents %>
  <%- include('./components/shoppingSidebar.ejs') %>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>